.reviewComponent {
	margin-top: 5rem;
	position: relative;

	.review_title {
		font-size: 48px;
		font-family: $fatface;
		color: $yellow;
		line-height: 1.2;
		text-align: center;
	}

	h4 {
		font-size: 18px;
		font-family: $jose;
		color: rgb(255, 255, 255);
		line-height: 1.5;
		text-align: center;
		width: 90%;
		margin: 0 auto;
		margin-top: 5rem;
	}
	.review_detail {
		display: flex;
		justify-content: center;
		// position: absolute;
		// left: 18%;
	}

	.review_detail_container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 2rem 1rem 0 1rem;
	}

	.review_star {
		color: $orange;
		margin-top: 0.5rem;
	}

	.review_pizza_photo {
		width: 150px;
		height: 150px;
		background: $orange;
		border-radius: 50%;
	}

	.review_ordered_pizza {
		font-size: 24px;
		font-family: $fatface;
		color: $yellow;
		line-height: 1.2;
		text-align: center;
		margin-top: 0.5rem;
	}

	.review_box {
		background: url(../../pic/review_square.png) no-repeat;
		background-size: contain;
		width: 366px;
		position: relative;
		margin-top: 1rem;
	}

	.review {
		font-size: 24px;
		font-family: $Freder;
		color: rgb(255, 255, 255);
		line-height: 1.25;
		text-align: center;
		padding: 2.5rem;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.faQuoteLeft {
		position: absolute;
		top: 1.5rem;
		left: 1.5rem;
		color: white;
	}

	.faQuoteRight {
		position: absolute;
		bottom: 1.5rem;
		right: 1.5rem;
		color: white;
	}

	.review_reviwerDetail {
		margin-top: 2rem;
		font-size: 18px;
		font-family: $jose;
		color: rgb(254, 254, 254);
		text-align: center;

		.review_url {
			margin-top: 1rem;
			color: $orange;
		}
	}
}

.review_changer {
	display: flex;
	justify-content: center;
	// margin-top: 40rem;
	margin-top: 3rem;

	svg {
		color: $orange;
		font-size: 2rem;
		position: absolute;
		top: 8px;
		left: 10px;
	}

	.review_changer_prev {
		border-style: solid;
		border-width: 4px;
		border-color: $orange;
		width: 56px;
		height: 56px;
		position: relative;
		cursor: pointer;
	}

	.review_changer_next {
		border-style: solid;
		border-width: 4px;
		border-color: $orange;
		width: 56px;
		height: 56px;
		position: relative;
		margin-left: 1.5rem;
		cursor: pointer;
	}

	div {
		transition: all 0.5s;
		&:hover {
			transform: scale(1.1);
		}
	}
}
